body{
    background-color: rgb(30,30,30);
    color:rgb(230,230,230);
    font-family: Corbel;
}
h1 {
    text-align: right;
    font-size: 50px;
}
p{
    text-align: right;
}
.content{
    width: 50%;
    margin: 15%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.rightside{
    display: grid;
    width: 100%;
    padding-right: 15px;
}
.leftside{
    padding-left:15px;
    width: 100%;
}
#roofimage{
    object-fit: cover;
    border-radius: 25px;
    width: 255px;
    height: 300px;
}